


*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}

// ==== MIXIN ==== //

@mixin panel {
  background-color: $color-panels;
  border-radius: 4px;
  box-shadow: $shadow-panels;
}

@mixin quicksand {
  font-family: 'Quicksand', sans-serif;
}

@mixin poppins {
  font-family: 'Poppins', sans-serif;
}

// ==== // MIXIN ==== //



// ==== Variables ====

$color-fon: #edeef0;
$color-panels: #ffff;
$color-text: #6f7985;

$colorBlack-text: #8b949e;
$colorBlack-fon: #161b22;
$colorBlack-panels: #343a42;

$shadow-panels:  0 1px 0 0 #dce1e6, 0 0 0 1px #e7eBec;

$fw-bold: 700;
$fw-light: 300;
$fw-medium: 400;

$breakpoint-s-min: 520px;
$breakpoint-s-max: $breakpoint-s-min - 1px;

// ==== // Variables ====


.mainPage {
  @include quicksand;
  background-color: $color-fon;
  position: relative;
  min-height: 100vh;
  &_inner {
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 40px;
    display: flex;
  }
}

.navigation {
  @include panel;
  margin-right: 20px;
  height: 320px;
  min-width: 200px;
  max-width: 200px;
  color: $color-text;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  ul {
    padding: 10px 20px;
    list-style: none;
    margin: 0;
    li {
      cursor: pointer;
      border-radius: 4px;
      font-size: 22px;
      margin: 10px 0px;
      padding: 5px;
      &:hover {
        background-color: $color-fon;
      }
    }
  }
  &_icon {
    text-align: center;
    &_git {
      width: 50px;
      opacity: .7;
      transition: all .1s;
      &:hover {
        opacity: 1;
      }
    }
  }
  &_exit {
    display: none;
    width: 100%;
    height: 20px;
  }
}

.link {
  color: $color-text;
  text-decoration: none;
  display: block;
  width: 100%;
}

.content {
  flex-grow: 1;
  margin-right: 20px;
  max-width: 929px;
  &_title {
    @include panel;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    &_text {
      padding: 20px 50px
    }
  }
  &_works {
    margin-bottom: 20px;
    height: 340px;
  }
  &_technologies {
    @include panel;
    &_inner {
      padding: 0px 50px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      &_item {
        width: 80px;
        height: 80px;
        cursor: pointer;
        margin: 10px 15px;
        opacity: .7;
        @media (max-width: 1180px) {
          width: 40px;
          height: 40px;
        }
        &:hover {
          opacity: 1;
        }
        &_pic {
          display: block;
          width: 100%;
          height: auto;
        }
      }
    }
    &_title {
      padding-left: 50px;
      padding-top: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid $color-fon
    }
  }
}

// === MODAL WINDOW === //


.modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.212);
  &-content {
    @include panel;
    display: flex;
    margin: 0px 15px;
    &-image {
      flex-grow: 3;
      &-pic {
        display: block;
        width: 100%;
        max-width: 500px;
        height: auto;
      }
    }
    &-info {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: 0px 10px;
    }
  }
}

.modal.active{
    display: flex;
}

.modal-header {
    height: 30px;
    width: 100%;
    position: relative;
    margin-bottom: 20px;
    &-exit {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      height: 20px;
      margin-top: 10px;
      padding: 0px 10px;
      &-item {
        cursor: pointer;
        display: block;
        &:before,
        &:after {
            content: "";
            position: absolute;
            top: 21px;
            right: 10px;
            width: 20px;
            height: 4px;
            background: $color-text;
        }
        &::before {
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
        }
        &::after {
          -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
        }
      }
    }
  }


// === // MODAL WINDOW === //


.profile {
  @include panel;
  text-align: center;
  max-height: 250px;
  max-width: 151px;
  // max-width: 135px;
  color: $color-text;
  &_inner {
    padding: 10px 10px;
  }
  &_image {
    width: 100px;
    margin: 0 auto;
    margin-bottom: 18px;
    cursor: pointer;
    &_pic {
      display: block;
      width: 100%;
      height: auto;
      border-radius: 50%;
    }
  }
  &_name {
    font-size: 18px;
    font-weight: $fw-bold;
  }
  &_age {
    font-size: 14px;
    font-weight: $fw-medium;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  &_city {
    font-size: 14px;
    font-weight: $fw-medium;
  }
}

.profile_header {
  display: none;
  padding: 5px 10px;
  height: 50px;
  border-bottom: 1px solid $color-fon;
}

.burger {
  margin-right: auto;
  padding: 8px 8px;
  background: none;
  border: 1px solid #D1D1E4;
  border-radius: 4px;
  cursor: pointer;
  &_line {
    display: block;
    width: 16px;
    height: 2px;
    background-color: #d6dae5;
    & + & {
      margin-top: 4px;
    }
  }
    &:active .burger_line{
      background-color: grey;
  }
  &:active {
      border: 1px solid grey;
  }
}

// === Swiper === // 


.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: .3s opacity;
  transform: translate3d(0,0,0);
  z-index: 10;
}

.swiper-pagination-bullets {
  bottom: 10px;
  left: 0;
  width: 100%;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 50%;
  background: #000;
  margin: 0 4px;
  background-color: $color-text;
}

.swiper-pagination-bullet-active {
  background-color: rgb(13, 143, 30)
}




// === // Swiper === // 


.experience {
  @include panel;
  margin-bottom: 20px;
}

.work {
  padding: 20px 50px;
  &-title {
    display: flex;
    align-items: center;
    padding-bottom: 30px;
    border-bottom: 1px solid #edeef0;
    &-logo {
      width: 150px;
      height: 150px;
      margin-right: 30px;
      display: block;
      height: auto;
      background-color: #040720;
      padding: 20px 20px;
      border-radius: 10px;
      opacity: .9;
      &:hover {
        opacity: 1;
      }
    }
    &-text {
      font-size: 20px;
      font-weight: $fw-medium;
      
      h4 {
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0;
        }
    }
  }
}
}

.work-title-logo--fiveLb {
  width: 100px;
  background-color: #fff;
  padding: 0;
}

.work-content-images {
  justify-content: center;
  display: flex;
  &-wrapper {
    margin: 0 auto;
  }
  &-item {
    width: 200px;
    height: auto;
    border-radius: 5px;
    margin-right: 40px;
    &:last-child {
      margin-right: 0px;
    }
  }
}

.about {
  @include panel;
  font-weight: $fw-medium;
  font-size: 22px;
  &_inner {
    padding: 20px 50px;
  }
}



// === Slides === //

.slide {
  background-position: center;
  background-size: cover;
  border-radius: 25px;
  position: relative;
  &--arithmetic {
    background-image: url('./images/promo/math.png');
  }
  &--auth {
    background-image: url('./images/promo/auth1.png');
  }
  &--simple {
    background-image: url('./images/promo/simple1.png');
  }
  &--jsonData {
    background-image: url('./images/promo/data1.png');
  }
  &--russiaOne {
    background-image: url('./images/promo/russiaOne.png');
  }
  &--gym {
    background-image: url('./images/promo/gym.png');
  }
  &--react-list {
    background-image: url('./images/promo/react-table.png');
  }
  &--cards-list {
    background-image: url('./images/promo//cards.png');
  }
  &--color-picker {
    background-image: url('./images/promo/color-picker.png');
  }
}

.swiperLink {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.slide_title {
  color: #fff;
  position: absolute;
  top: 120px;
  left: 133px;
  z-index: 2;
  @include poppins;
  font-size: 36px;
  max-width: 210px;
  line-height: 35px;
  &--simple {
    top: 120px;
    left: 100px;
  }
  &--jsonData {
    top: 100px;
    padding: 30px 20px;
    background-color: rgba(0, 0, 0, 0.63);
    border-radius: 25px;
    max-width: 310px;
  }
}

.slide_info {
  color: #fff;
  position: absolute;
  bottom: 40px;
  right: 40px;
  z-index: 2;
  font-size: 24px;
  font-weight: $fw-bold;
}



// === MEDIA === //

@media (max-width: $breakpoint-s-max) {
  .navigation {
    position: fixed;
    left: -205px;
    top: 0;
    z-index: 5;
    height: 270px;
    min-width: 100px;
    margin: 0;
    transition: all 0.3s linear;

    background-color: #384555;
    box-shadow: 0 1px 0 0 #1d2025, 0 0 0 1px #1d2025;
    ul {
      margin: 0;
      padding: 0px 10px;
    }
    &_exit {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      height: 20px;
      margin-top: 10px;
      padding: 0px 10px;
      &-item {
        display: block;
        &:before,
        &:after {
            content: "";
            position: absolute;
            top: 21px;
            right: 10px;
            width: 20px;
            height: 4px;
            background: $color-text;
        }
        &::before {
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
        }
        &::after {
          -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
        }
      }
    }
  }

  .link {
    color: #c4c4ce;
  }

  
.mainPage_inner.active .navigation  {
  left: 0;
}


  .mainPage_inner {
    flex-direction: column;
    padding: 0;
  }
  .profile {
    order: -1;
    max-width: 100%;
    &_header {
      display: flex;
      align-items: center;
    }
    &_inner {
      display: flex;
      align-items: center;
    }
    &_image {
      margin: 0;
      width: 130px;
      margin-right: 10px;
    }
    &_name {
      font-size: 15px;
    }
    &_age {
      margin: 0;
    }
    &_info {
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      text-align: start;
    }
  }


  .content {
    width: 100%;
    &_title {
      margin-top: 20px;
      margin-bottom: 10px;
      font-size: 12px;
      padding: 10px 10px;
      &_text {
        padding: 0;
      }
    }
    &_works {
      height: 113px;
      margin-bottom: 10px;
      padding-left: 10px;
    }
    &_technologies {
      &_title {
        padding: 10px 10px;
      }
      &_inner {
        padding: 0;
      }
    }
  }

  .swiper-pagination-bullets {
    bottom: 4px;
  }
  .swiper-pagination-bullet {
    width: 5px;
    height: 5px;
  }

  // Only for slide with Arithmetic Animate

  .slide_title {
    top: 15px;
    left: 25px;
    font-size: 12px;
  }
  .slide_info {
    font-size: 12px;
    bottom: 15px;
    right: 15px;
  }

  .profile_name {
    font-size: 10px;
  }
  .profile_age {
    font-size: 10px;
  }
  .profile_city {
    font-size: 10px;
  }
}

// === WORK === // 

.work {
  padding: 20px 10px;
  &-title {
    padding-bottom: 20px;
    &-logo {
      width: 90px;
      margin-right: 30px;
      margin-left: 15px;
    }
    &-text {
      font-size: 12px;
    }
  }
  &-content {
    ul {
      padding-left: 25px;
      li {
        margin-bottom: 10px;
      }
    }
    &-images {
      &-item {
        display: block;
        margin: 0 auto;
        width: 250px;
        & + & {
          margin-top: 10px;
        }
      }
    }
  }
}

// === // WORK === // 


// === ABOUT === // 
.about {
  font-size: 15px;
  font-weight: $fw-bold;
  &_inner {
    padding: 10px 15px;
  }
}


// === // ABOUT === // 

// === /// MEDIA === //

// ===  DARK THEME === //

.mainPage.dark {
  background-color: $colorBlack-fon;
  .navigation,
  .profile,
  .experience,
  .about {
    background-color: $colorBlack-panels;
    box-shadow: none;
    color: $colorBlack-text;
  }
  .content {
    &_title {
      background-color: $colorBlack-panels;
      box-shadow: none;
      color: $colorBlack-text;
    }
    &_technologies {
      background-color: $colorBlack-panels;
      box-shadow: none;
      color: $colorBlack-text;
    }
  }
}

// BUTTON //

.container-toggleBtn {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  @media (max-width: $breakpoint-s-max) {
    display: none;
  }
}

.toggle-button {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
  margin: 0;
  vertical-align: top;
  background: $colorBlack-fon;
  border: 1px solid #bbc1e1;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
 }

 .toggle-button::after {
  content: "";

  display: inline-block;
  position: absolute;
  left: 2px;
  top: 1.5px;

  width: 20px;
  height: 20px;
  background-color: $color-fon;
  border-radius: 50%;
  transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
  transform: translateX(0);
}

.toggle-button:checked::after {
  transform: translateX(calc(100% + 3px));
  background-color: #fff;  
}
.toggle-button:checked {
  background-color: $colorBlack-text;
}

// /// BUTTON //

// === ///  DARK THEME === //










